

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #666;
}

p a {
	color: #fff;
    text-decoration: underline 2px;
}

p a:hover {
	color: #9FF;
}

#about p a { color: #066; }
#about p a:hover { color: #F36; }

#contact p a { color: #066; }

#where_and_when p a { color: #066; }

footer span a { color: #FFF; }

.tm-logo-font {
    font-family: 'Montserrat', sans-serif;
}

.tm-container {
    max-width: 1200px;
}

.parallax-window {
    min-height: 1064px;
    background: transparent;
}

.tm-text-yellow {
    color: #FC6;
}

.tm-text-gold {
    color: #fff;
}

.tm-text-brown {
    color: #000;
}

.tm-text-green {
    color: #000;
}

a.tm-bg-green:hover {
    background-color: #ef8376;
}
a.tm-bg-green {
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
}

.tm-bg-brown {
    background-color: #544639;
}

.tm-bg-green {
    background-color: #df7366;
}

.tm-border-gold {
    border-color: #CC9966;
}

.tm-intro-width {
    max-width: 436px;
}

.tm-item-container {
    max-width: 100%;
}

.input:focus {
    outline: none !important;
    border:1px solid #CC9966;
    box-shadow: 0 0 10px #b67533;
}

input::placeholder,
textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(214, 212, 212);
    opacity: 1; /* Firefox */
}
  
input:-ms-input-placeholder,
textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(214, 212, 212);
}
  
input::-ms-input-placeholder,
textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(214, 212, 212);
}

#tm-nav {
    z-index: 1000;
    transition: all 0.3s ease;
}

#tm-nav.scroll {
    background-color: rgba(0,0,0,0.7);
}
@media screen and (max-width: 768px) {
    #tm-nav.scroll-mobile {
        background-color: rgba(0,0,0,0.7);
    }
}

#tm-nav li a {
    border-bottom-color: transparent;
    transition: all 0.3s ease;
}

#tm-nav li a.current,
#tm-nav li a:hover {
      border-bottom: 4px solid #fff;
}

.tm-text-2xl {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 300;
}

@media (min-width: 768px) {
    #tm-nav.scroll .tm-container {
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

@media (max-width: 767px) {
    #tm-nav {
        width: auto;
        right: 0;
        border-radius: 5px;
    }
}

@media (max-width: 639px) {
    .parallax-window {
        min-height: 600px;
    }
}

@media (max-width: 370px) {
    .tm-menu-item {
        flex-direction: column;
    }

    .tm-menu-item-2 {
        flex-direction: column-reverse;
    }

    .tm-menu-item img {
        margin-bottom: 10px;
    }

    .tm-menu-item-2 img {
        margin-bottom: 10px;
    }
}



.button_reg:hover {
    background-color: #ef8376;
}
.button_reg {
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
}

ul.parent_event_rules {
    list-style: circle;
}






/* ============== */
/* popup_kvartirnik*/
/* ============== */
.popup__bg_kvartirnik {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(38, 31, 31, 0.714);
    opacity: 0; 
    pointer-events: none; 
    transition: 0.5s all;
	z-index: 99999;
	backdrop-filter: blur(4px) !important;
}

.popup__bg_kvartirnik.active { 
    opacity: 1; 
    pointer-events: all;
    transition: 0.5s all;
}

.popup_kvartirnik {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    background: #000000c1;
    width: 400px;
    padding: 25px;
    transition: 0.5s all;
}

.popup_kvartirnik.active { 
    transform: translate(-50%, -50%) scale(1); 
    transition: 0.5s all;
}
@media screen and (max-width: 470px) {
	.popup_kvartirnik.active {
		width: 90% !important;
	}
}
/* для стилизации формы */
.close-popup_kvartirnik {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup_kvartirnik label {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
}

.popup_kvartirnik .label__text {
    font-size: 14px;
    font-weight: 300;
    color: #cfd0d3;
    margin-bottom: 5px;
}

.popup_kvartirnik input {
    height: 45px;
    font-size: 18px;
    outline: none;
    border: 1px solid #cfd0d3 !important;
	border-radius: 0.5em;
	padding: 18px;
	background: transparent !important;
	transition: 0.5s all;
	color: white !important;
}

.popup_kvartirnik input:focus {
    border: 1px solid #df7366 !important;
	box-shadow: 0 0 10px #b67533;
	background: transparent !important;
	transition: 0.5s all;
}

.popup_kvartirnik input:focus + .label__text {
    color: #df7366;
}

.popup_kvartirnik textarea {
    resize: none;
    width: 100%;
    height: 150px;
    outline: none;
    border: 1px solid #cfd0d3;
    border-radius: 0.5em;
    font-size: 18px;
    padding: 10px;
	background: transparent !important;
	color: white !important;
}

.popup_kvartirnik textarea:focus {
    border-bottom: 1px solid #df7366;
    border: 1px solid #df7366 !important;
	box-shadow: 0 0 10px #b67533;
	background: transparent !important;
	transition: 0.5s all;
}

.popup_kvartirnik textarea:focus + .label__text {
    color: #df7366;
}

.popup_kvartirnik button {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    background: #df7366;
    cursor: pointer;
    transition: 0.5s all;
	line-height: 1.75em;
	font-weight: 300;
	font-family: 'Source Sans Pro';
}

.popup_kvartirnik button:hover {
    background: #ef8376;
    color:#fff;
    transition: 0.5s all;
}
/* ============== */
/* end popup_kvartirnik*/
/* ============== */




/* hidden item form */
.hidden_form_item {
	display: none !important;
}

textarea::placeholder {
	font-size: 12px !important;
	line-height: 20px;
	color: #dfdfdfa6 !important;
}


div.privacy_policy {
	font-size: 12px;
	line-height: 16px;
	color: white !important;
	margin-bottom: 10px;
}

#contact input {
    padding-left: 10px !important;
}
#contact input:focus {
    border-radius: 0.5em !important;
}